In [73]:
# default_exp webserver

# longtail

> API details.

In [79]:
#export
import os
from collections import namedtuple
from longtail.engine import BlockTracker
from longtail.commonlib import waste_some_time, lastWrapper, capture
from longtail.transplier import Transpiler

In [ ]:
#hide
tr = Transpiler(".","test/src/basic.txt","test/transpile/basic.py")
tr.parse()

In [1]:
!open .

In [96]:
#hide
!python test/transpile/basic.py

hello
world
hello
world
human fish
block 2

hello
world
hello
world
human fish

,name,signature,value,start,total,batch,stanza
0,print,'hello',None,5642.74,0.000235,5642.74247,Mid file 2
1,print,'world',None,5642.74,0.000527,5642.74247,Mid file 2
2,capture,"'hello', 'world'",None,5642.74,0.000367,5642.74247,Mid file 2
3,print,'human fish',None,5642.74,0.000010,5642.74247,Mid file 2
4,waste_some_time,100,None,5642.74,0.266837,5642.74247,Mid file 2

hello
world
human fish

,name,signature,value,start,total,batch,stanza
0,capture,"'hello', 'world'",None,4860.93,0.000340,4860.931309,Mid file 2
1,print,'human fish',None,4860.93,0.000021,4860.931309,Mid file 2
2,waste_some_time,100,None,4860.93,0.264946,4860.931309,Mid file 2